<?xml version="1.0" encoding="UTF-8"?>
 <Configuration status="INFO">
   <Appenders>
     <Console name="Console" target="SYSTEM_OUT">
       <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
     </Console>
     
     <File name="log" fileName="D:/Program Files/debug.log" append="false">
       <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %m%n"/>
     </File>
   </Appenders>
   
   <Loggers>
     <Root level="info">
       <Appender-Ref ref="Console"/>
       <Appender-Ref  ref= "log"> </Appender-Ref>

    </Root>
   </Loggers>
</Configuration>